--indent 4
--header ignore
--wraparguments before-first
--wrapcollections before-first
--commas inline
--semicolons inline
--hexliteralcase lowercase
--disable redundantParens
--disable trailingClosures
--disable sortedImports

# Exclude directories
--exclude Carthage, Pods, Examples/ExampleApp/Assets.xcassets, Tests/EazyRestClientTests/MockURLProtocol.swift
